<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Amazon Review Summarizer</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/shop-item.css" rel="stylesheet">
    <link href="../static/css/my_custom.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">// <![CDATA[
            function postloader(){
                document.getElementById("loading").style.display = "block";
                document.getElementById("content").style.display = "none";
            }
// ]]></script>
</head>

<body>
    <div id="loading" style="display:none">
        <p style="margin-bottom: 0px">Scraping...</p>
        <p>(this may take a while)</p>
    </div>
    <div id="content" style="display:block">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Amazon Review Summarizer</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/summarize_home">Summarize</a>
                        </li>
                        <li>
                            <a href="/compare_home">Compare</a>
                        </li>
                        <li>
                            <a href="https://github.com/alvinthai/amazon_review_summarizer">GitHub</a>
                        </li>
                        <li>
                            <a href="mailto:alvinthai@gmail.com">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            <!-- /.container -->
        </nav>
        <!-- Page Content -->
        <div class="container">
            <img class="img-responsive" src="static/img/ars_home_header.png" alt="">
            <hr style="margin-top: 10px">
            <div class="jumbotron" style="background-color: rgba(34,34,34,0.05); margin-bottom: 20px">
                <img class="img-responsive" src="static/img/ars_home_body.png" alt="">
            </div>
            <ul class="list-inline intro-social-buttons" style="text-align: center">
                <li>
                    <a href="/summarize_home" class="btn btn-default btn-lg"><span class="network-name" style="font-size: 14px">Summarize 1 Item</span></a>
                </li>
                <li>
                    <a href="/compare_home" class="btn btn-default btn-lg"><span class="network-name" style="font-size: 14px">Compare 2 Items</span></a>
                </li>
                <li>
                    <a href="/sample_results" class="btn btn-default btn-lg"><span class="network-name" style="font-size: 14px">Sample Results</span></a>
                </li>
            </ul>
            <!-- Footer -->
            <footer style="margin-top: 10px">
                <div class="row">
                    <hr style="margin-top: 10px">
                    <div class="col-lg-12">
                        <p>Copyright © alvinthai</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $(".btn.btn-default.btn-lg").hover(function(){
                $(this).css("background-color", "rgba(255, 160, 47, 0.75)");
                }, function(){
                $(this).css("background-color", "#fff");
            });
        });
    </script>
    <script type="text/javascript">
        window.onpageshow = function (event) {
            if (event.persisted) {
                document.getElementById("loading").style.display = "none";
                document.getElementById("content").style.display = "block";
            }
        };
    </script>

</body>

</html>
